{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <header>
        <h1>CONTROLE FINANCEIRO</h1>
        <nav>
            {% block navbar %}{% include 'fragments/navbar.html' %}{% endblock %}
        </nav>
    </header>
    <aside>
        {%block dolar %}{% include 'fragments/dolar.html' %}{% endblock %}
    </aside>
    <main>    
        {% block content %}{% endblock %}
    </main>

    <footer>
            {% block footer %}{% include 'fragments/footer.html' %}{% endblock %}
    </footer>
    <script>
        // Obtém a URL atual
        var urlAtual = window.location.href;

        // Substitua 'sua-url-especifica' pela parte específica da URL que você está verificando
        var classeEspecifica = 'aselect';

        // Obtém todos os elementos que têm a classe específica
        var elementosAntigos = document.querySelectorAll('.' + classeEspecifica);

        // Remove a classe de todos os elementos antigos
        elementosAntigos.forEach(function(elementoAntigo) {
            elementoAntigo.classList.remove(classeEspecifica);
        });

        pagina = {
            '/home/': 'nav1',
            '/origens/': 'nav2',
            '/home/': 'nav3',
            '/home/': 'nav4',
            '/home/': 'nav5',
            '/home/': 'nav6',
            '/home/': 'nav7',
            '/home/': 'nav8',

        }

        // Verifica se a URL contém a string desejada
        if (urlAtual.indexOf('/home/') !== -1) {
            var elementoNovo = document.getElementById('nav1');
            if (elementoNovo) {
                elementoNovo.classList.add(classeEspecifica);
            }
        }
        // Verifica se a URL contém a string desejada
        if (urlAtual.indexOf('/origens/') !== -1) {
            var elementoNovo = document.getElementById('nav2');
            if (elementoNovo) {
                elementoNovo.classList.add(classeEspecifica);
            }
        }
    </script>
</body>
</html>