{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <header>
        <h1>CONTROLE FINANCEIRO</h1>
        <nav>
            {% block navbar %}{% include 'fragments/navbar.html' %}{% endblock %}
        </nav>
    </header>
    <aside>
        {%block dolar %}{% include 'fragments/dolar.html' %}{% endblock %}
    </aside>
    <main>    
        {% block content %}{% endblock %}
    </main>

    <footer>
            {% block footer %}{% include 'fragments/footer.html' %}{% endblock %}
    </footer>
    <script>
        var urlAtual = window.location.pathname;
        var classeEspecifica = 'aselect';
        var elementosAntigos = document.querySelectorAll('.' + classeEspecifica);
        elementosAntigos.forEach(function(elementoAntigo) {
            elementoAntigo.classList.remove(classeEspecifica);
        });

        var paginas = {
            '/home/': 'nav1',
            '/origens/': 'nav2',
            '/categorias/': 'nav3',
            '/orcamentos/': 'nav4',
            '/rel-orctos/': 'nav5',
            '/lancamentos/': 'nav6',
            '/rel-lctos/': 'nav7',
            '/orc_real/': 'nav8',

        }
        
        for (var pagina in paginas){
            if (urlAtual.indexOf(pagina) !== -1) {
                var elementoNovo = document.getElementById(paginas[pagina]);
                if (elementoNovo) {
                    elementoNovo.classList.add(classeEspecifica);
                }
                break
            }
        }      
    </script>
</body>
</html>