{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Relatório de Categorias{% endblock %}
{% block content %}
    <br><br>
    <form action="{% url 'rel_categorias' %}" method="post" class="frm-cad">
        <h2>Categorias</h2>
        {% csrf_token %}
        Cadastrar categoria: <input type="text" name="nome" required autofocus>
        <br>
        <br>
        <input type="submit" class="button green" value="Cadastrar">
    </form>
    <br>
    <hr>
    <h4>Categorias cadastradas</h4>
    <table>
        <thead>
            <tr>
                <td class="linha"></td>
                <th>Categoria</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        {% for categoria in cats %}
            <tr>
                {% if cats.number == 1 %}
                    <td class="linha">{{ forloop.counter}}</td>
                {% else %}
                    <td class="linha">{{ forloop.counter|add:reg_por_linha}}</td>
                {% endif %}
                <td>{{ categoria.nome }}</td><td><a href="/update_get_categoria/{{categoria.id}}"><i class="fa-solid fa-pen" title="EDITAR REGISTRO"></i></a></td><td><a href="/delete_categoria/{{categoria.id}}"><i class="fa-solid fa-trash" title="EXCLUIR REGISTRO"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="pagination">
        <span class="step-links">
            {% if cats.has_previous %}
                <a href="?page={{ cats.previous_page_number }}">anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ cats.number }} de {{ cats.paginator.num_pages }}.
            </span>
    
            {% if cats.has_next %}
                <a href="?page={{ cats.next_page_number }}">próxima</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
