{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Relatório de Categorias{% endblock %}
{% block content %}
    <br><br>
    <h2>Categorias</h2>
    <form action="{% url 'rel_categorias' %}" method="post">
        {% csrf_token %}
        Cadastrar categoria: <input type="text" name="nome" required>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <hr>
    <h4>Categorias cadastradas</h4>
    <table>
        <thead>
            <tr>
                <th>Categoria</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nome }}</td><td><a href="/update_get_categoria/{{categoria.id}}">Editar</a></td><td><a href="/delete_categoria/{{categoria.id}}">Excluir</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if messages %}
        {% for message in messages %}
            <p 
                {% if message.tags %} 
                    class="msg-{{ message.tags }}" 
                {% endif %}>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}