{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Editar Lançamento{% endblock %}
{% block content %}
    <br><br>
    <h2>Editar Lançamento</h2>
    <form action="{% url 'update_lcto' lcto.id %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Data:</td><td><input type="date" name="data" value="{{ lcto.data|date:"Y-m-d" }}" required ></td>
            </tr>
            <tr>
                <td>Descrição:</td><td><input type="text" name="descricao" value="{{ lcto.descricao }}" required></td>
            </tr>
            <tr>
                <td>Categoria:</td>
                <td>
                    <select name="categoria">
                        {% for cat in cats %}
                           {% if cat.id == lcto.categoria %} 
                                <option value="{{ cat.id }}" selected>{{ cat.nome }}</option>
                            {% else %}
                                <option value="{{ cat.id }}">{{ cat.nome }}</option>
                           {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Origem:</td>
                <td>
                    <select name="origem">
                        {% for origem in origens %}
                            {% if origem.id == lcto.origem %} 
                               <option value="{{ origem.id}}" selected>{{ origem.nome }}</option>
                            {% else %}
                               <option value="{{ origem.id}}">{{ origem.nome }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tipo de operação:</td>
                <td>
                    <select name="tipo_operacao">
                        {% if lcto.tipo_operacao == 's' %}
                            <option value="s">Saída</option>
                        {% else %}
                            <option value="e">Entrada</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Valor:</td><td><input type="number" name="valor" step="0.01" value="{{ pvalor }}" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Editar"></td>
            </tr>
        </table>
    </form>
{% endblock %}