{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Editar Categoria{% endblock %}
{% block content %}
    <br><br>
    <form action="{% url 'update_categoria' categoria.id %}" method="post" class="frm-edit">
        <h2>Editar Categoria</h2>
        {% csrf_token %}
        <td>Nova descrição:</td><td><input type="text" name="nome" value="{{ categoria.nome }}" required autofocus>
        <br>    
        <br>    
        <input type="submit" value="Editar" class="button blue">
    </form>
{% endblock %}