{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Editar Origem{% endblock %}
{% block content %}
<br><br>
<h2>Origens</h2>
<form action="{% url 'rel_origens' %}" method="post">
    {% csrf_token %}
    Editar origem: <input type="text" name="nome" value="{{ origem.nome }}">
    <input type="submit" value="Cadastrar">
</form>
    {% if messages %}
        {% for message in messages %}
            <p 
                {% if message.tags %} 
                    class="msg-{{ message.tags }}" 
                {% endif %}>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}