{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Editar Categoria{% endblock %}
{% block content %}
    <br><br>
    <h2>Editar Categoria</h2>
    <form action="{% url 'update_categoria' categoria.id %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Descrição:</td><td><input type="text" name="nome" value="{{ categoria.nome }}" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Editar"></td>
            </tr>
        </table>
    </form>
{% endblock %}