<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Saldos</h1>
    <table>
        <thead>
            <tr>
                <th>Origem</th>
                <th>Valor</th>
            </tr>
        </thead>
        {% for dif in diferenca %}
        <tr>
            <td>{{ dif.origem__nome }}</td>
            <td>R$ {{ dif.diferenca }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h1>Lançamentos</h1>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
        </thead>
        {% for lcto in lctos %}
        <tr>
            <td>{{ lcto.data }}</td>
            <td>R$ {{ lcto.valor }}</td>
            <td>{{ lcto.descricao }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>