{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <h1>CONTROLE FINANCEIRO</h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Gerenciar Origens</a></li>
        <li><a href="#">Gerenciar Categorias</a></li>
        <li><a href="#">Incluir orçamentos</a></li>
        <li><a href="#">Lançar entradas/saídas</a></li>
        <li><a href="#">Relatório de lançamentos</a></li>
        <li><a href="#">Desempenho(Orçado vs Realizado)</a></li>
    </ul>
    <br>
    <br>
    <h2>Saldos</h2>
    <table>
        <thead>
            <tr>
                <th>Origem</th>
                <th>Valor</th>
            </tr>
        </thead>
        {% for dif in diferenca %}
        <tr>
            <td>{{ dif.origem__nome }}</td>
            <td>R$ {{ dif.diferenca|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>
    
   
</body>
</html>