{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Lançamentos{% endblock %}
{% block content %}
    <br><br>
    {% if not cats or not origens %}
        <h2 class="msg-error">Impossível efetuar lançamentos!</h2>
        <h3>É necessário cadastar ao menos uma categoria e ao menos uma origem para lançar entradas e/ou saídas.</h3>
        <h4>Para cadastrar use o menu horizontal acima nas opções "Origens" e "Categorias".</h4>
    {% else %}
        <form action="{% url 'lancamentos_save' %}" method="post" class="frm-cad">
            <h2>Lançar Entradas/Saídas</h2>
            {% csrf_token %}
            <table>
                <tr>
                    <td>Data:</td><td><input type="date" name="data" required autofocus></td>
                </tr>
                <tr>
                    <td>Descrição:</td><td><input type="text" name="descricao" required></td>
                </tr>
                <tr>
                    <td>Categoria:</td>
                    <td>
                        <select name="categoria">
                            {% for cat in cats %}
                            <option value="{{ cat.id }}">{{ cat.nome }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Origem:</td>
                    <td>
                        <select name="origem">
                            {% for origem in origens %}
                                <option value="{{ origem.id}}">{{ origem.nome }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tipo de operação:</td>
                    <td>
                        <select name="tipo_operacao">
                            <option value="s">Saída</option>
                            <option value="e">Entrada</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Valor:</td><td><input type="number" name="valor" step="0.01" required></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Cadastrar"></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}
