{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Lançamentos{% endblock %}
{% block content %}
    <br><br>
    <h2>Lançamentos</h2>
    <form action="{% url 'rel_categorias' %}" method="post">
        {% csrf_token %}
        Data: <input type="data" name="data">
        Descrição: <input type="text" name="descricao">
        Categoria: <select name="categoria" id="">
            <option value=""></option>
        </select>
        Origem: <select name="origem" id="">
                <option value=""></option>
            </select>
            Tipo de operação: <select name="tipo_operacao" id="">
                <option value="s">Saída</option>
                <option value="e">Entrada</option>
            </select>
        Valor: <input type="number" name="valor">
    </form>
    <h4>Categorias cadastradas</h4>
{% endblock %}