{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Orçado x Realizado{% endblock %}
{% block content %}
<br><br>
    <h2>Relatório Orçado - Realizado</h2>
    <form action="">
        Data Inicial: <input type="date" required value={{ dataini }}>
        Data Final: <input type="date" required value={{ datafim }}>
        Categoria:
        <select name="categoria">
                <option value="-1">*** TODAS ***</option>
            {% if categoria.id == cat %}
                <option value="{{ categoria.id }}" selected>{{ categoria.nome }}</option>
            {% else %}
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
        </select>
        <input type="submit" value="Filtrar">
    </form>
    <table>
        <thead>
            <tr>
            <th>Data</th>
            <th>Categoria</th>
            <th>Valor orçado</th>
            <th>Valor realizado</th>
            <th>Saldo</th>
        </tr>
    </thead>
</table>
{% endblock %}