{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Orçado x Realizado{% endblock %}
{% block content %}
<br><br>
    <h2>Relatório Orçado - Realizado</h2>
    <form action="">
        Data Inicial: <input type="date" required value={{ dataini }}>
        Data Final: <input type="date" required value={{ datafim }}>
        Categoria:
        <select name="categoria">
                <option value="-1">*** TODAS ***</option>
            {% for categoria in categorias %}
                {% if categoria.id == cat %}
                    <option value="{{ categoria.id }}" selected>{{ categoria.nome }}</option>
                {% else %}
                    <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Filtrar">
    </form>
    <table>
        <thead>
            <tr>
            <th>Mês</th>
            <th>Categoria</th>
            <th>Valor orçado</th>
            <th>Valor realizado</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        {% for item in diferenca %}
            <tr>
                <td>{{ item.mes }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.valor_orcado|floatformat:2 }}</td>
                <td>{{ item.valor_lancado|floatformat:2 }}</td>
                <td>{{ item.saldo|floatformat:2 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}