{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Relatório de lançamentos{% endblock %}
{% block content %}
<br><br>
<h2>Origens</h2>
<form action="">
    Cadastrar origem: <input type="text" name="origem" id="">
</form>
<h3>Origens cadastradas</h3>
<table>
    <thead>
        <tr>
            <th>Origem</th>
            <th colspan="2">Ações</th>
        </tr>
    </thead>
    {% for origem in origens %}
    <tr>
        <td>{{ origem.nome }}</td><td><a href="#">Editar</a></td><td><a href="">Excluir</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}