{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Relatório de Orçamentos{% endblock %}
{% block content %}
<br><br>
    <h2>Relatório de Orçamentos</h2>
    <table>
        <thead>
            <tr>
            <th>Data</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th colspan="2">AÇÃO</th>
        </tr>
    </thead>
    {% for orcamento in orcamentos %}
    <tr>
        <td>{{ orcamento.data }}</td>
        <td>{{ orcamento.nome_categoria }}</td>
        <td>R$ {{ orcamento.valor }}</td>
        <td><a href="#">Editar</a> | <a href="#">Excluir</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}