{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Relatório de Orçamentos{% endblock %}
{% block content %}
<br><br>
    <h2>Relatório de Orçamentos</h2>
    <form action="{% url 'rel_orcamentos' %}" method="post">
        {% csrf_token %}
        Data Inicial: <input type="date" name="data-inicio">
        Data Final: <input type="date" name="data-fim">
        Categoria: <select name="categoria">
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtrar">
    </form>
    <table>
        <thead>
            <tr>
            <th>Data</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th colspan="2">AÇÃO</th>
        </tr>
    </thead>
    
    {% for orcamento in orcamentos %}
    <tr>
        <td>{{ orcamento.data }}</td>
        <td>{{ orcamento.nome_categoria }}</td>
        <td>R$ {{ orcamento.valor }}</td>
        <td><a href="/update_get_orcamento/{{orcamento.id}}">Editar</a> | <a href="/delete_orcamento/{{orcamento.id}}">Excluir</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}