{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Relatório de Orçamentos{% endblock %}
{% block content %}
<br><br>
<h2>Relatório de Orçamentos</h2>
<form action="{% url 'rel_orcamentos' %}" class="form-rel-filter">
    <h3>Filtros de Pesquisa</h3>
    Data Inicial: <input type="date" name="data-inicio" value="{{ dtini }}" required >
    Data Final: <input type="date" name="data-fim" value="{{ dtfim }}" required >
    Categoria: 
    <select name="categoria">   
        <option value="-1">*** Todas ***</option>
        {% for categoria in categorias %}
        {% if categoria.id == cat %}
        <option value="{{ categoria.id }}" selected>{{ categoria.nome }}</option>
        {% else %}
        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
        {% endif %}
        {% endfor %}        
    </select>
        <input type="submit" value="Filtrar">
    </form>
    <br>
    <table>
        <thead>
            <tr>
            <th class="linha"></th>
            <th>Data</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th colspan="2">AÇÃO</th>
        </tr>
    </thead>
    {% if imprimir %}
        {% if sem_resultados  %}
            <tr class="msg-no-result">
                <td class="linha"></td>
                <td colspan="5">Não há registros para o filtro informado</td>
            </tr>
        {% else %}    
            {% for orcamento in orcamentos %}
            <tr>
                <td class="linha">{{ forloop.counter }}</td>
                <td>{{ orcamento.data|date:"d/m/Y" }}</td>
                <td>{{ orcamento.nome_categoria }}</td>
                <td>R$ {{ orcamento.valor }}</td>
                <td><a href="/update_get_orcamento/{{orcamento.id}}"><i class="fa-solid fa-pen" title="EDITAR REGISTRO"></i></a> | <a href="/delete_orcamento/{{orcamento.id}}"><i class="fa-solid fa-trash" title="EXCLUIR REGISTRO"></i></a></td>
            </tr>
            {% endfor %}
        {% endif %}
    {% else %}
            <tr class="msg-init-filter">
                <td class="linha"></td>
                <td colspan="5">Informe os filtros acima para gerar o relatório.</td>
            </tr>
    {% endif %}
    </table>
{% endblock %}
