{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}Relatório de lançamentos{% endblock %}
{% block content %}
<br><br>
    <h2>Relatório de Lançamentos</h2>
    <form action="">
        Data Inicial: <input type="date" name="" id="">
        Data Final: <input type="date" name="" id="">
        <input type="submit" value="Filtrar">
    </form>
    <table>
        <thead>
            <tr>
            <th>Data</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Operação</th>
            <th>Origem</th>
            <th colspan="2">AÇÃO</th>
        </tr>
    </thead>
    {% for lcto in lctos %}
    <tr>
        <td>{{ lcto.data }}</td>
        <td>{{ lcto.nome_categoria }}</td>
        <td>{{ lcto.descricao }}</td>
        <td>R$ {{ lcto.valor }}</td>
        <td>{{ lcto.tipo_operacao }}</td>
        <td>{{ lcto.nome_origem}}</td>
        <td><a href="/update_get_lcto/{{lcto.id}}">Editar</a> | <a href="/delete_lcto/{{lcto.id}}">Excluir</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}