<ul>
    <li><a id="nav1" href="{% url 'home' %}">Saldos</a></li>
    <li><a id="nav2" href="{% url 'rel_origens' %}">Origens</a></li>
    <li><a id="nav3" href="{% url 'rel_categorias' %}">Categorias</a></li>
    <li><a id="nav4" href="{% url 'orcamentos' %}">Orçamentos</a></li>
    <li><a id="nav5" href="{% url 'rel_orcamentos' %}">Rel. Orçamentos</a></li>
    <li><a id="nav6" href="{% url 'lancamentos' %}">Lançar Entradas/Saídas</a></li>
    <li><a id="nav7" href="{% url 'rel_lancamentos' %}">Rel. Lançamentos</a></li>
    <li><a id="nav8" href="{% url 'rel_orcado_realizado' %}">Orçado vs Realizado</a></li>
</ul>