<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'rel_origens' %}">Origens</a></li>
    <li><a href="{% url 'rel_categorias' %}">Categorias</a></li>
    <li><a href="{% url 'orcamentos' %}">Orçamentos</a></li>
    <li><a href="{% url 'rel_orcamentos' %}">Rel. Orçamentos</a></li>
    <li><a href="{% url 'lancamentos' %}">Lançar Entradas/Saídas</a></li>
    <li><a href="{% url 'rel_lancamentos' %}">Rel. Lançamentos</a></li>
    <li><a href="#">Orçado vs Realizado</a></li> 
    <li>
        {% if cotacao_dolar %}
            Dólar: R$ {{ cotacao_dolar }} | Data de criação: {{ create_date }}
        {% else %}
            Impossível obter a cotação do dólar no momento.
        {% endif %}
    </li> 
</ul>