header{
    background-color: #4CAF50;
    color: #fff;
}
nav{
    margin: 0 auto;
}

main{
    margin: 0 auto;
    text-align: center;
}
main table{
    margin: 0 auto;
}
footer{
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
}

h1, h2{
    text-align: center;
}
ul li{
    float: left;
    padding-right: 20px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    text-decoration: none;
    color: black;
    background: orange
}

thead tr{ 
    background-color:#98FB98
}
tr{
    background-color: rgb(233,224,224)
}
.cot-dolar{
    justify-content: center;
    font-family: 'Trebuchet MS';
    background-color: yellow;
    color: red;
}