header{
    background-color: #4CAF50;
    color: #fff;
}
h1, h2{
    text-align: center;
}
ul li{
    float: left;
    padding-right: 20px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    text-decoration: none;
    color: black;
    background: orange
}

thead tr{ 
    background-color: rgb(0,206,255)
}
tr{
    background-color: rgb(233,224,224)
}