body{
    font-family: 'Trebuchet MS';
}
header{
    background-color: #7fdd7f;
    color: #083f14;
}
nav{
    margin: 0 auto;
}

main{
    margin: 0 auto;
    text-align: center;
}
aside{
    float: right;
}
main table{
    margin: 0 auto;
}
footer{
    padding: 1px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS';
    background-color: #383d36;
    color: white;
}

h1, h2{
    text-align: center;
}
ul li{
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    list-style-type: none;
    background-color: #d9dfda;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    text-decoration: none;
    background: #c4fcd0;
    color: black;
    padding: 1px;
}
.aselect{
    background: #083f14;
    color: white;
    padding: 1px;
}

thead tr{ 
    background-color:#98FB98
}
tr{
    background-color: rgb(233,224,224)
}
.cot-dolar{
    justify-content: center;
    font-family: 'Trebuchet MS';
    background-color: rgba(255, 30, 0, 0.863);
    border: 1px solid rgba(255, 30, 0, 0.863);
    color: rgb(247, 254, 255);
    font-size: 25px;
    padding: 2px;
}
.erro-saldo{
    background-color: rgba(255, 30, 0, 0.863);
    color: rgb(247, 254, 255);
}
.msg-error{
    background-color: rgba(255, 30, 0, 0.863);
    color: rgb(247, 254, 255);
    text-align: center;
}
.msg-success{
    background-color: #aee2bb;
    color: #1d662f;
    text-align: center;
}
.fa-trash{
    color: rgb(194, 16, 16);
    padding: 4px;
    margin: auto;
}
.fa-pen{
    padding: 4px;
    margin: auto;
    color: rgb(0, 102, 255)
}
.msg-init-filter{
    background-color: rgb(54, 54, 44);
    color: white;
}
.msg-no-result{
    color:rgb(194, 16, 16);
}
i{
    font-size: 20px;
}
.form-rel-filter{
    border: 1px solid #000;
    padding-bottom: 25px;
}
.linha{
    background-color: #fff;
    font-size: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
